---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-col justify-center">
		<p class="text-center text-4xl">Welcome to <br class="sm:hidden" /> my website!</p>
	</div>
</Layout>
